@font-face {
    font-family: "Paul";
    src: url("/Paul.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    height: 100vh;
    box-sizing: border-box;
    background-color: cornsilk;
    background-image: url("/Bandeau.png");
    background-position: bottom left;
    background-repeat: no-repeat;
}

* {
    text-align: center;
    font-family: "Paul", sans-serif;
}


aside {
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem;
}

aside a {
    display: block;
    text-align: left;
    color: rgb(240, 240, 0);
    transition: 0.2s;
}
aside a:active {
    opacity: 0.8;
}
aside a:first-of-type {
    margin-bottom: 0.5em;
}


h1 {
    font-size: 2.5rem;
}

h1, h2 {
    margin-bottom: 10px;
}

h2, th {
    font-size: 1.7rem;
    font-weight: bold;
}

h2, table {
    margin-top: 20px !important;
}

p, table {
    margin: 0 auto;
    width: 50%;
}
p, th, td, a {
    font-size: 1.6rem;
}

img {
    height: 1em;
    vertical-align: text-bottom;
    margin-right: 0.15em;
}


footer {
    position: fixed;
    width: 100%;
    bottom: 30px;
    left: 0;
    font-size: 15pt;
    opacity: 0.7;
}

abbr {
    cursor: default;
}