@font-face {
	font-family: "Paul";
	src: url("/Paul.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

:root {
	padding-top: 50px;
    height: 100vh;
    box-sizing: border-box;
	background-color: cornsilk;
    background-image: url("/Bandeau.png");
    background-position: bottom left;
    background-repeat: no-repeat;
}

* {
	text-align: center;
	font-family: "Paul", sans-serif;
}

h1 {
    font-size: 2.5rem;
}

main {
	display: flex;
	justify-content: center;
	column-gap: 3rem;
}

main a {
	text-decoration: none;
    color: black;
	font-size: 2.1rem;
	padding: 0px 10px 8px 10px;
	border: 1px solid transparent;
	border-radius: 10px;
	transition: 0.5s, color 0.3s;
}
main a:hover {
	border-color: rgba(0, 0, 0, 0.8);
    color: red;
}
main a:active {
	box-shadow: inset 0px 0px 3px 0px black;
	transition: 0.1s;
}
main a img {
	display: block;
	border-radius: 3px;
    margin: auto;
}


aside {
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    padding-left: 10px;
    font-size: 1.6rem;
}

p {
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: inherit;
}
p:first-child {
    width: 330px;
}
p {
    width: 300px;
}
p:last-of-type {
    width: 270px;
    margin-bottom: 0;
}

aside a {
    color: rgb(240, 240, 0);
    transition: 0.2s;
}
aside a:active {
    opacity: 0.8;
}


footer {
    position: fixed;
    width: 100%;
    bottom: 30px;
    left: 0;
    font-size: 15pt;
    opacity: 0.7;
}

abbr {
    cursor: default;
}