
@font-face {
	font-family: "Paul";
	src: url("/Paul.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

:root {
	height: 100%;
	max-width: 1920px;
	max-height: 1080px;
}

body {
	background-image: url("fond.png");
	background-size: 100%;
	/*background-position-x: 100px;*/
	height: 100%;

}

* {
	text-align: center;
	font-family: "Paul";
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
}


main {
	width: 100%;
	height: 100%;
}

main.right,
main.right :is(button, .face, #logo, #categorie) {
	transform: scale(-1, 1);
}


#actions {
	position: fixed;
	right: 5px;
	direction: rtl;
}
#actions button {
	margin-top: 5px;
	padding: 5px;
	font-size: 1.5em;
	display: block;
}


#bandeau {
	width: 50%;
	height: 100%;
	background-position: bottom left;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: start;
}


[icon] {
	border-radius: 100%;
	padding: 15px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	aspect-ratio: 1;
}

[contenteditable] {
	outline: none;
}


.face {
	cursor: pointer;
	margin-top: 20px;
	margin-left: 20px;
	width: 330px;
	aspect-ratio: 1;
	background-size: contain;
}


#gladiator2[no-print] .face::before {
	content: "Cliquez ici pour ajouter un·e invité·e";
	font-size: 2rem;
	line-height: 1.5em;
}
#gladiator2 .face {
	margin-left: 40px;
	margin-top: 30px;
	width: 230px;
}


#categorie {
	position: fixed;
	bottom: 20px;
	left: 325px;
	height: 300px;
	font-size: 260px;
}

#categorie img {
	width: 250px;
	cursor: default;
}

#logo {
	position: fixed;
	right: 30px;
	bottom: 30px;
	height: 250px;
}



@import url("/dialog.css");

#friendModal .friend {
	margin-left: 10px;
}
#friendModal .friend:first-child,
#friendModal br + .friend {
	margin-left: 0;
}

#friendModal .friend {
	cursor: pointer;
	width: 100px;
	aspect-ratio: 1;
	box-sizing: border-box;
	display: inline-block;
}

div.friend {
	border: 1px dashed rgba(0,0,0,0.5);
	border-radius: 5px;
	line-height: 95px;
}


progress {
	position: fixed;
	top: 10%;
	left: 45%;
}